<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_comment_set_template_vars_before">
        <observer name="add_sales_email_order_data_to_order_update " instance="Magelearn\CartPopup\Observer\AddSalesEmailData"/>
    </event>
</config>
