<!--@subject {{trans "Our %product_name Product is Back in Stock" product_name=$product.name }}  @-->
<!--@vars
{"store url=\"\"":"Store Url"}}
@-->
{{template config_path="design/email/header_template"}}

<table>

    <tr class="email-intro">
        <td colspan="2">

            <p class="greeting">{{trans  "Hello %customer_name," customer_name=$customer_name}}</p>
            <p><strong>{{trans "Thanks for your registering your interest our product is back in stock"}}</strong></p>
            <p><strong>{{trans "Product Name:"}}</strong> {{trans "%product_name" product_name=$product.name}} <br>
            </p>
            <p>{{trans '<a class="product-view" href="%product_url" target="_blank">View</a>' product_url=$product_url |raw}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                <strong>{{trans "Thank you"}}</strong>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
