<?xml version="1.0"?>
<!--
/**
 * @author EyeMall Team
 * @copyright Copyright (c) 2019 EyeMall (https://www.inexture.com)
 * @package EyeMall_Apis
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Watchcentre\Mobile\Api\StockNotifyInterface" type="Watchcentre\Mobile\Model\StockNotifyMobile" />
<!--    <preference for="Watchcentre\Mobile\Api\Data\StockNotifyInterface" type="Watchcentre\Mobile\Model\StockNotify" />-->
</config>
